*{
  text-decoration: none;
  color: black;
}
.App {
  text-align: center;
}

.box{
border: 1px solid;

display: flex;
justify-content: center;
flex-direction:row;
align-items: center;
flex-wrap: wrap;


}
.box-box{
  display: flex;
  justify-content: center;
flex-direction:column;
align-items: center;
border: 5px solid;
margin: 50px;
width: 400px;
 height: 300px;
 border-radius: 10px 60px;
}
a{
text-decoration: none;
margin: 10px;;
}